<div>
    <div class="row">
        <mat-card class="col-md-12">
            <form class="">
                <mat-form-field class="col-md-4">
                    <input matInput placeholder="Search customer" [(ngModel)]="customerID"
                           [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <button type="button" class="btn btn-primary" (click)="searchCustomer()">Search</button>
            </form>
        </mat-card>
    </div>

    <div class="row" style="margin-top: 15px;">
        <div class="col-md-6 m-0 p-0">
            <mat-card style="margin-right: 5px;">
                <mat-card-title>X-Ray Invoice Information:</mat-card-title>
                <form [formGroup]="transactionForm" class="row">
                    <mat-form-field class="col-md-6">
                        <input matInput placeholder="Voucher No" formControlName="voucherNo">
                    </mat-form-field>
                    <mat-form-field class="col-md-6">
                        <input matInput placeholder="Box No" formControlName="boxNo">
                    </mat-form-field>
                    <mat-form-field class="col-md-6">
                        <input matInput placeholder="Karat Type" formControlName="karatType">
                    </mat-form-field>
                    <mat-form-field class="col-md-6">
                        <input matInput [matDatepicker]="deliveryDate" placeholder="Delivery Date"
                               formControlName="deliveryDate" readonly>
                        <mat-datepicker-toggle matSuffix [for]="deliveryDate"></mat-datepicker-toggle>
                        <mat-datepicker #deliveryDate disabled="false"></mat-datepicker>
                    </mat-form-field>

                    <!--<mat-form-field>
                        <mat-select placeholder="Select">
                            <mat-option value="option">Option</mat-option>
                        </mat-select>
                    </mat-form-field>-->
                </form>
            </mat-card>
        </div>

        <div class="col-md-6 m-0 p-0">
            <mat-card style="margin-left: 5px;">
                <mat-card-title>Customer Information:</mat-card-title>
                <form [formGroup]="customerForm" class="row">
                    <mat-form-field class="col-md-6">
                        <input matInput placeholder="Name" formControlName="name">
                    </mat-form-field>
                    <mat-form-field class="col-md-6">
                        <input matInput placeholder="Mobile Number" formControlName="mobileNumber">
                    </mat-form-field>
                    <mat-form-field class="col-md-6">
                        <input matInput placeholder="Address 1" formControlName="address1">
                    </mat-form-field>
                    <mat-form-field class="col-md-6">
                        <input matInput placeholder="Address 2" formControlName="address2">
                    </mat-form-field>

                    <!--<mat-form-field>
                        <mat-select placeholder="Select">
                            <mat-option value="option">Option</mat-option>
                        </mat-select>
                    </mat-form-field>-->
                </form>
                <div>
                    <button type="button" class="btn btn-primary float-right" style="margin-left: 2px;"
                            (click)="saveCustomer()">Save
                    </button>
                    <button type="button" class="btn btn-primary float-right" style="margin-left: 2px;"
                            (click)="saveCustomer()">Update
                    </button>
                    <button type="button" class="btn btn-primary float-right" (click)="editCustomer()">Edit</button>
                </div>
                <div class="clearfix"></div>
            </mat-card>
        </div>

    </div>

    <div class="row" style="margin-top: 15px;">
        <mat-card class="col-md-12">
            <mat-card-title>Billing Information:</mat-card-title>
            <table mat-table [dataSource]="billingInfos" class="col-md-12">
                <!-- Position Column -->
                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef> No.</th>
                    <td mat-cell *matCellDef="let i = index;"> {{i + 1}}</td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.name}}</td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                    <th mat-header-cell *matHeaderCellDef> Weight</th>
                    <td mat-cell *matCellDef="let element"> {{element.weight}}</td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                    <th mat-header-cell *matHeaderCellDef> Symbol</th>
                    <td mat-cell *matCellDef="let element"> {{element.symbol}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedBillingInfoColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedBillingInfoColumns;"></tr>
            </table>
        </mat-card>
    </div>

    <div class="row" style="margin-top: 15px;">
        <div class="col-md-12 m-0 p-0">
            <mat-card>
                <mat-card-title>Service Entry For X-Ray:</mat-card-title>
                <div class="row">
                    <mat-form-field class="col-md-6">
                        <mat-select placeholder="Select Item">
                            <mat-option *ngFor="let item of itemNames" [value]="item.value">
                                {{item.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-md-6">
                        <input matInput placeholder="Quantity">
                    </mat-form-field>
                    <mat-form-field class="col-md-6">
                        <input matInput placeholder="Weight(Tola)">
                    </mat-form-field>
                    <mat-form-field class="col-md-6">
                        <input matInput placeholder="Weight(gram)">
                    </mat-form-field>
                </div>
                <div>
                    <button type="button" class="btn btn-primary float-right" (click)="editCustomer()" style="margin-left: 2px;">Cancel</button>
                    <button type="button" class="btn btn-primary float-right" (click)="saveCustomer()">Add</button>
                </div>
                <div class="clearfix"></div>

            </mat-card>
        </div>
    </div>

    <div class="row" style="margin-top: 15px;">
        <mat-card class="col-md-12">
            <mat-card-title>Services Served:</mat-card-title>
            <table mat-table [dataSource]="serviceList" class="col-md-12">

                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef> No.</th>
                    <td mat-cell *matCellDef="let i = index;"> {{i + 1}}</td>
                </ng-container>

                <ng-container matColumnDef="itemName">
                    <th mat-header-cell *matHeaderCellDef> Item Name</th>
                    <td mat-cell *matCellDef="let element"> {{element.itemName}}</td>
                </ng-container>

                <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef> Quantity</th>
                    <td mat-cell *matCellDef="let element"> {{element.quantity}}</td>
                </ng-container>

                <ng-container matColumnDef="weightGm">
                    <th mat-header-cell *matHeaderCellDef> Weight(gm)</th>
                    <td mat-cell *matCellDef="let element"> {{element.weightGm}}</td>
                </ng-container>

                <ng-container matColumnDef="rate">
                    <th mat-header-cell *matHeaderCellDef> Rate</th>
                    <td mat-cell *matCellDef="let element"> {{element.rate}}</td>
                </ng-container>

                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef> Amount</th>
                    <td mat-cell *matCellDef="let element"> {{element.amount}}</td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef style="width: 140px;"> Action</th>
                    <td mat-cell *matCellDef="let i = index;">
                        <button mat-mini-fab (click)="editCustomer()" style="margin-right: 5px;"><mat-icon>edit</mat-icon></button>
                        <button mat-mini-fab (click)="editCustomer()"><mat-icon>delete</mat-icon></button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="serviceListColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: serviceListColumns;"></tr>
            </table>
        </mat-card>
    </div>
</div>
