<div class="no-print">
    <div class="row">
        <mat-card class="col-md-12">
            <form class="">
                <mat-form-field class="col-md-2">
                    <mat-select placeholder="Select search category" [(ngModel)]="searchCategory"
                        [ngModelOptions]="{standalone: true}">
                        <mat-option *ngFor="let item of searchCategories" [value]="item.value">
                            {{item.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col-md-3">
                    <input type="text" matInput placeholder="Search customer" [(ngModel)]="cusromerSearchingValue"
                        [ngModelOptions]="{standalone: true}" maxlength="11" (keypress)="numberOnly($event)">
                </mat-form-field>
                <button type="button" class="btn btn-primary" (click)="searchCustomer()">Search</button>
                <button type="button" class="btn btn-primary"
                    (click)="showCreateCustomerDialog(createCustomerDialog)">Create Customer</button>
                <!-- <button type="submit" class="btn btn-primary"
                    [routerLink]="['/entity/transactions', { outlets: { popup: '/create-customer'} }]"
                    replaceUrl="true">Create Customer</button> -->
                <jhi-alert></jhi-alert>
            </form>
        </mat-card>
    </div>

    <div *ngIf="customer">
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-6 m-0 p-0">
                <mat-card style="margin-right: 5px;">
                    <mat-card-title>Invoice Information:</mat-card-title>
                    <form [formGroup]="aurumServiceForm" class="row">
                        <mat-form-field class="col-md-6">
                            <mat-select placeholder="Select Service" formControlName="serviceType"
                                (ngModelChange)="serviceTypeChange($event)">
                                <mat-option *ngFor="let item of aurumServiceDropdownData" [value]="item.value">
                                    {{item.viewValue}}
                                </mat-option>
                            </mat-select>
                            <mat-error
                                *ngIf="aurumServiceForm.controls['serviceType'].errors && !aurumServiceForm.controls['serviceType'].pristine">
                                <div [hidden]="!aurumServiceForm.controls['serviceType'].errors.required">Service type
                                    is required</div>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="col-md-6"
                            [hidden]="selectedService === 'Normal Melting' || selectedService === 'Calculated Melting'">
                            <mat-select placeholder="Select Item" formControlName="itemName">
                                <mat-option *ngFor="let item of itemDropdownList" [value]="item.value">
                                    {{item.viewValue}}
                                </mat-option>
                            </mat-select>
                            <mat-error
                                *ngIf="aurumServiceForm.controls['itemName'].errors && !aurumServiceForm.controls['itemName'].pristine">
                                <div [hidden]="!aurumServiceForm.controls['itemName'].errors.required">Item name is
                                    required
                                </div>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="col-md-6" [hidden]="selectedService === 'Hallmark'">
                            <input type="number" matInput placeholder="Weight(Gram)" formControlName="weight"
                                (input)="onWeightValueChange($event)">
                            <mat-error
                                *ngIf="aurumServiceForm.controls['weight'].errors && !aurumServiceForm.controls['weight'].pristine">
                                <div [hidden]="!aurumServiceForm.controls['weight'].errors.required">Weight is
                                    required
                                </div>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="col-md-6"
                            [hidden]="selectedService === 'Normal Melting' || selectedService === 'Calculated Melting'">
                            <input type="number" matInput placeholder="Quantity" formControlName="quantity">
                            <mat-error
                                *ngIf="aurumServiceForm.controls['quantity'].errors && !aurumServiceForm.controls['quantity'].pristine">
                                <div [hidden]="!aurumServiceForm.controls['quantity'].errors.required">Quantity is
                                    required
                                </div>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="col-md-6" [hidden]="selectedService === 'X-Ray'">
                            <mat-select placeholder="Select Karat Type" formControlName="karatType"
                                (ngModelChange)="onKaratTypeChange($event)">
                                <mat-option *ngFor="let item of karatList" [value]="item.value">
                                    {{item.viewValue}}
                                </mat-option>
                            </mat-select>
                            <mat-error
                                *ngIf="aurumServiceForm.controls['karatType'].errors && !aurumServiceForm.controls['karatType'].pristine">
                                <div [hidden]="!aurumServiceForm.controls['karatType'].errors.required">Karat type is
                                    required</div>
                                <div [hidden]="!aurumServiceForm.controls['karatType'].errors.percentDiffError">Karat
                                    type must be heigher then expected karat type</div>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="col-md-6" *ngIf="showBtnForCalculatedMelting">
                            <mat-select placeholder="Select Expected Karat Type" formControlName="expectedKaratType"
                                (ngModelChange)="onExpectedKaratTypeChange($event)">
                                <mat-option *ngFor="let item of karatList" [value]="item.value">
                                    {{item.viewValue}}
                                </mat-option>
                            </mat-select>
                            <mat-error
                                *ngIf="aurumServiceForm.controls['expectedKaratType'].errors && !aurumServiceForm.controls['expectedKaratType'].pristine">
                                <div [hidden]="!aurumServiceForm.controls['expectedKaratType'].errors.required">Expected
                                    karat type is required</div>
                                <div [hidden]="!aurumServiceForm.controls['karatType'].errors.percentDiffError">Expected
                                    karat type must be lower then karat type</div>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="col-md-6" *ngIf="showBtnForCalculatedMelting">
                            <input matInput placeholder="Alloy Quantity" formControlName="alloyQuantity" readonly>
                            <mat-error
                                *ngIf="aurumServiceForm.controls['alloyQuantity'].errors && !aurumServiceForm.controls['alloyQuantity'].pristine">
                                <div [hidden]="!aurumServiceForm.controls['alloyQuantity'].errors.required">Alloy
                                    quantity is required
                                </div>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="col-md-6" *ngIf="showBtnForCalculatedMelting">
                            <mat-select placeholder="Select Alloy Type" formControlName="addedAlloy"
                                (ngModelChange)="onAddedAlloyChange($event)">
                                <mat-option *ngFor="let item of alloyTypeList" [value]="item.value">
                                    {{item.viewValue}}
                                </mat-option>
                            </mat-select>
                            <mat-error
                                *ngIf="aurumServiceForm.controls['addedAlloy'].errors && !aurumServiceForm.controls['addedAlloy'].pristine">
                                <div [hidden]="!aurumServiceForm.controls['addedAlloy'].errors.required">Added alloy is
                                    required
                                </div>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="col-md-6">
                            <input type="number" matInput placeholder="Rate" formControlName="rate">
                            <mat-error
                                *ngIf="aurumServiceForm.controls['rate'].errors && !aurumServiceForm.controls['rate'].pristine">
                                <div [hidden]="!aurumServiceForm.controls['rate'].errors.required">Rate is required
                                </div>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="col-md-6" [hidden]="selectedService != 'Hallmark'">
                            <input type="text" matInput placeholder="Hallmark Text" formControlName="hallMarkedText">
                            <mat-error
                                *ngIf="aurumServiceForm.controls['hallMarkedText'].errors && !aurumServiceForm.controls['hallMarkedText'].pristine">
                                <div [hidden]="!aurumServiceForm.controls['hallMarkedText'].errors.required">Hallmark
                                    text is required
                                </div>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="col-md-6" [hidden]="selectedService != 'X-Ray'">
                            <input type="number" matInput placeholder="Check" formControlName="freeCheck">
                            <mat-error
                                *ngIf="aurumServiceForm.controls['freeCheck'].errors && !aurumServiceForm.controls['freeCheck'].pristine">
                                <div [hidden]="!aurumServiceForm.controls['freeCheck'].errors.required">Check is
                                    required
                                </div>
                                <div [hidden]="!aurumServiceForm.controls['freeCheck'].errors.min">Free check
                                    minimum value is 0</div>
                                <div [hidden]="!aurumServiceForm.controls['freeCheck'].errors.max">Free check
                                    maximum value is 1</div>
                            </mat-error>
                        </mat-form-field>

                        <div [hidden]="selectedService === 'Hallmark'">
                            <mat-form-field class="col-md-3">
                                <input matInput placeholder="Weight(Vori)" formControlName="weightVori" readonly>
                            </mat-form-field>
                            <mat-form-field class="col-md-3" style="margin-left: -8px;">
                                <input matInput placeholder="Weight(Ana)" formControlName="weightAna" readonly>
                            </mat-form-field>
                            <mat-form-field class="col-md-3">
                                <input matInput placeholder="Weight(Rotti)" formControlName="weightRotti" readonly>
                            </mat-form-field>
                            <mat-form-field class="col-md-3" style="margin-left: -8px;">
                                <input matInput placeholder="Weight(Point)" formControlName="weightPoint" readonly>
                            </mat-form-field>
                        </div>


                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary float-right" (click)="resetServiceForm()"
                                style="margin-left: 2px;">Clear</button>
                            <button type="button" class="btn btn-primary float-right"
                                (click)="addService()">Add</button>
                        </div>
                    </form>
                </mat-card>
            </div>

            <div class="col-md-6 m-0 p-0">
                <!-- <jhi-aurum-customer-form [customerId]="customerID"></jhi-aurum-customer-form> -->
                <mat-card style="margin-right: 5px;">
                    <mat-card-title>Customer Information:</mat-card-title>
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>Name</td>
                                <td>{{customer?.firstName}} {{customer?.lastName}}</td>
                            </tr>
                            <tr>
                                <td>Phone</td>
                                <td>{{customer?.phone}}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>{{customer?.email}}</td>
                            </tr>
                            <tr>
                                <td>Address</td>
                                <td>{{customer?.address}}</td>
                            </tr>
                            <tr>
                                <td>Total Point</td>
                                <td>{{customer?.totalPoint}}</td>
                            </tr>
                        </tbody>
                    </table>
                </mat-card>
            </div>

        </div>

        <div class="row" style="margin-top: 15px;">
            <mat-card class="col-md-12">
                <mat-card-title>Services Served:</mat-card-title>
                <table mat-table [dataSource]="aurumServiceList" class="col-md-12">
                    <ng-container matColumnDef="index">
                        <th mat-header-cell *matHeaderCellDef>No.</th>
                        <td mat-cell *matCellDef="let i = index;"> {{i + 1}}</td>
                    </ng-container>

                    <ng-container matColumnDef="serviceType">
                        <th mat-header-cell *matHeaderCellDef>Service Type</th>
                        <td mat-cell *matCellDef="let element"> {{element.serviceType}}</td>
                    </ng-container>

                    <ng-container matColumnDef="itemName">
                        <th mat-header-cell *matHeaderCellDef>Item Name</th>
                        <td mat-cell *matCellDef="let element"> {{element.itemName}}</td>
                    </ng-container>

                    <ng-container matColumnDef="freeCheck">
                        <th mat-header-cell *matHeaderCellDef>Free Check</th>
                        <td mat-cell *matCellDef="let element"> {{element.freeCheck}}</td>
                    </ng-container>

                    <ng-container matColumnDef="hallMarkedText">
                        <th mat-header-cell *matHeaderCellDef>Hallnarked Text</th>
                        <td mat-cell *matCellDef="let element"> {{element.hallMarkedText}}</td>
                    </ng-container>

                    <ng-container matColumnDef="karatType">
                        <th mat-header-cell *matHeaderCellDef>Karat Type</th>
                        <td mat-cell *matCellDef="let element"> {{element.karatType}}</td>
                    </ng-container>

                    <ng-container matColumnDef="expectedKaratType">
                        <th mat-header-cell *matHeaderCellDef>Expected Karat Type</th>
                        <td mat-cell *matCellDef="let element"> {{element.expectedKaratType}}</td>
                    </ng-container>

                    <ng-container matColumnDef="weight">
                        <th mat-header-cell *matHeaderCellDef>Weight(Gram)</th>
                        <td mat-cell *matCellDef="let element"> {{element.weight}}</td>
                    </ng-container>

                    <ng-container matColumnDef="rate">
                        <th mat-header-cell *matHeaderCellDef>Rate</th>
                        <td mat-cell *matCellDef="let element"> {{element.rate}}</td>
                    </ng-container>

                    <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef>Quantity</th>
                        <td mat-cell *matCellDef="let element"> {{element.quantity}}</td>
                    </ng-container>

                    <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef>Amount</th>
                        <td mat-cell *matCellDef="let element"> {{element.amount}}</td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef style="width: 140px;"> Action</th>
                        <td mat-cell *matCellDef="let i = index;">
                            <button mat-mini-fab (click)="deleteService(i)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="serviceListColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: serviceListColumns;"></tr>
                </table>
            </mat-card>
        </div>

        <div class="row" style="margin-top: 15px;">
            <mat-card class="col-md-12">
                <mat-card-title>Billing Information:</mat-card-title>
                <form [formGroup]="voucherForm">

                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field class="col-md-12">
                                <input matInput placeholder="Box Number" formControlName="boxNumber">
                                <mat-error
                                    *ngIf="voucherForm.controls['boxNumber'].errors && !voucherForm.controls['boxNumber'].pristine">
                                    <div [hidden]="!voucherForm.controls['boxNumber'].errors.required">Box number is
                                        required</div>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="col-md-12" style="margin-top: 10px;;">
                                <input matInput type="datetime-local" name="deliveryDate" formControlName="deliveryDate"
                                    placeholder="YYYY-MM-DD HH:mm" />
                                <mat-error
                                    *ngIf="voucherForm.controls['deliveryDate'].errors && !voucherForm.controls['deliveryDate'].pristine">
                                    <div [hidden]="!voucherForm.controls['deliveryDate'].errors.required">Delivery date
                                        is required</div>
                                </mat-error>
                            </mat-form-field>
                            <!-- <mat-form-field class="col-md-12">
                                <input matInput [matDatepicker]="deliveryDate" placeholder="Delivery Date"
                                    formControlName="deliveryDate" readonly>
                                <mat-datepicker-toggle matSuffix [for]="deliveryDate"></mat-datepicker-toggle>
                                <mat-datepicker #deliveryDate disabled="false"></mat-datepicker>
                            </mat-form-field> -->
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-6">Calculated Amount</div>
                                <div class="col-md-6">
                                    <span>{{calculateTotalAmount}}</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6" style="margin-top: 12px;">
                                    <mat-checkbox [labelPosition]="'after'" (change)="onVatCheckboxValueChange($event)"
                                        [(ngModel)]="vatChecked" [ngModelOptions]="{standalone: true}">Vat(15%)
                                    </mat-checkbox>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input type="number" matInput placeholder="Vat" formControlName="vat"
                                            (input)="onVatValueChange($event)"
                                            [attr.disabled]="vatChecked ? 'disabled' : null">
                                    </mat-form-field>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-md-6">Total Amount</div>
                                <div class="col-md-6">
                                    <span>{{totalAmount}}</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6" style="margin-top: 12px;">Discount</div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input type="number" matInput placeholder="Disount Amount"
                                            formControlName="disountAmount" (input)="onDiscountValueChange($event)">
                                    </mat-form-field>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-md-6">Total Payable Amount</div>
                                <div class="col-md-6">
                                    <span>{{payableTotalAmount}}</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6" style="margin-top: 12px;">Paid Amount</div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input type="number" matInput placeholder="Paid Amount"
                                            formControlName="paidAmount" (input)="onTotalPayableValueChange($event)">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">Amount Due</div>
                                <div class="col-md-6">
                                    <span>{{amountDue}}</span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary float-right"
                                (click)="resetVoucherForm()">Cancel</button>
                            <button type="button" class="btn btn-primary float-right"
                                (click)="confirmMakePayment(confirmDialog)" style="margin-left: 2px;">Make
                                Payment</button> &nbsp;
                            <!-- <button type="button" class="btn btn-primary float-right" (click)="makePayment()"
                                style="margin-left: 2px;">Make Payment</button> -->
                        </div>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>


<ng-template #createCustomerDialog let-cusModal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Create Customer</h4>
        <button type="button" class="close" aria-label="Close" (click)="cusModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="customerForm" class="row">
            <mat-form-field class="col-md-6">
                <input matInput placeholder="First Name" formControlName="firstName">
                <mat-error
                    *ngIf="customerForm.controls['firstName'].errors && !customerForm.controls['firstName'].pristine">
                    <div [hidden]="!customerForm.controls['firstName'].errors.required">First name is required</div>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-6">
                <input matInput placeholder="Last Name" formControlName="lastName">
            </mat-form-field>

            <mat-form-field class="col-md-6" style="margin-top: 5px;">
                <input type="text" matInput placeholder="Phone" formControlName="phone" maxlength="11"
                    (keypress)="numberOnly($event)">
                <mat-error *ngIf="customerForm.controls['phone'].errors && !customerForm.controls['phone'].pristine">
                    <div [hidden]="!customerForm.controls['phone'].errors.required">Phone number is required</div>
                    <div [hidden]="!customerForm.controls['phone'].errors.minlength">Phone number minimum length is 11
                    </div>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-6" style="margin-top: 5px;">
                <input type="email" matInput placeholder="Email" formControlName="email">
                <mat-error *ngIf="customerForm.controls['email'].errors && !customerForm.controls['email'].pristine">
                    <div [hidden]="!customerForm.controls['email'].errors.required">Email is required</div>
                    <div [hidden]="!customerForm.controls['email'].errors.email">Email is not valid</div>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="col-md-6" style="margin-top: 5px;">
                <input matInput placeholder="Address" formControlName="address">
            </mat-form-field>
            <!-- <mat-form-field class="col-md-6" style="margin-top: 5px;">
                    <input matInput placeholder="Reference By" formControlName="referenceBy">
                </mat-form-field> -->
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="createCustomer(cusModal);">Save</button>
        <button type="button" class="btn btn-outline-dark" (click)="closeCreateCustomerDialog(cusModal)">Cancel</button>
    </div>
</ng-template>

<ng-template #confirmDialog let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirm Payment</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Are you sure you want to make payment?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="makePayment(); modal.close()">Yes</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Cancel</button>
    </div>
</ng-template>