#section-to-print {
  /* hide the printing component from @media screen */
  display: none !important;
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }

  #section-to-print,
  #section-to-print * {
    display: block !important;
    // visibility: visible;
    // color: white;
    // font-size: 5rem;
  }
}
