<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-aurum-service-heading" data-cy="AurumServiceCreateUpdateHeading">Create or edit a Aurum Service</h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_serviceType">Service Type</label>
          <input
            type="text"
            class="form-control"
            name="serviceType"
            id="field_serviceType"
            data-cy="serviceType"
            formControlName="serviceType"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_itemName">Item Name</label>
          <input type="text" class="form-control" name="itemName" id="field_itemName" data-cy="itemName" formControlName="itemName" />
        </div>

        @let quantityRef = editForm.get('quantity')!;
        <div class="mb-3">
          <label class="form-label" for="field_quantity">Quantity</label>
          <input type="number" class="form-control" name="quantity" id="field_quantity" data-cy="quantity" formControlName="quantity" />
          @if (quantityRef.invalid && (quantityRef.dirty || quantityRef.touched)) {
            <div>
              @if (editForm.get('quantity')?.errors?.min) {
                <small class="form-text text-danger">This field should be at least 0.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('quantity')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let weightRef = editForm.get('weight')!;
        <div class="mb-3">
          <label class="form-label" for="field_weight">Weight</label>
          <input type="number" class="form-control" name="weight" id="field_weight" data-cy="weight" formControlName="weight" />
          @if (weightRef.invalid && (weightRef.dirty || weightRef.touched)) {
            <div>
              @if (editForm.get('weight')?.errors?.min) {
                <small class="form-text text-danger">This field should be at least 0.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('weight')?.errors?.number">This field should be a number.</small>
            </div>
          }
        </div>

        @let rateRef = editForm.get('rate')!;
        <div class="mb-3">
          <label class="form-label" for="field_rate">Rate</label>
          <input type="number" class="form-control" name="rate" id="field_rate" data-cy="rate" formControlName="rate" />
          @if (rateRef.invalid && (rateRef.dirty || rateRef.touched)) {
            <div>
              @if (editForm.get('rate')?.errors?.min) {
                <small class="form-text text-danger">This field should be at least 0.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('rate')?.errors?.number">This field should be a number.</small>
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_amount">Amount</label>
          <input type="number" class="form-control" name="amount" id="field_amount" data-cy="amount" formControlName="amount" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_serviceName">Service Name</label>
          <input
            type="text"
            class="form-control"
            name="serviceName"
            id="field_serviceName"
            data-cy="serviceName"
            formControlName="serviceName"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_karatType">Karat Type</label>
          <input type="text" class="form-control" name="karatType" id="field_karatType" data-cy="karatType" formControlName="karatType" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_expectedKaratType">Expected Karat Type</label>
          <input
            type="text"
            class="form-control"
            name="expectedKaratType"
            id="field_expectedKaratType"
            data-cy="expectedKaratType"
            formControlName="expectedKaratType"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_addedAlloy">Added Alloy</label>
          <select class="form-control" name="addedAlloy" formControlName="addedAlloy" id="field_addedAlloy" data-cy="addedAlloy">
            <option [ngValue]="null"></option>
            @for (alloy of alloyValues; track $index) {
              <option [value]="alloy">{{ { null: '', AU: 'AU', SI: 'SI', CU: 'CU' }[alloy] }}</option>
            }
          </select>
        </div>

        @let alloyQuantityRef = editForm.get('alloyQuantity')!;
        <div class="mb-3">
          <label class="form-label" for="field_alloyQuantity">Alloy Quantity</label>
          <input
            type="number"
            class="form-control"
            name="alloyQuantity"
            id="field_alloyQuantity"
            data-cy="alloyQuantity"
            formControlName="alloyQuantity"
          />
          @if (alloyQuantityRef.invalid && (alloyQuantityRef.dirty || alloyQuantityRef.touched)) {
            <div>
              @if (editForm.get('alloyQuantity')?.errors?.min) {
                <small class="form-text text-danger">This field should be at least 0.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('alloyQuantity')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let serviceChargeRef = editForm.get('serviceCharge')!;
        <div class="mb-3">
          <label class="form-label" for="field_serviceCharge">Service Charge</label>
          <input
            type="number"
            class="form-control"
            name="serviceCharge"
            id="field_serviceCharge"
            data-cy="serviceCharge"
            formControlName="serviceCharge"
          />
          @if (serviceChargeRef.invalid && (serviceChargeRef.dirty || serviceChargeRef.touched)) {
            <div>
              @if (editForm.get('serviceCharge')?.errors?.min) {
                <small class="form-text text-danger">This field should be at least 0.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('serviceCharge')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        @let freeCheckRef = editForm.get('freeCheck')!;
        <div class="mb-3">
          <label class="form-label" for="field_freeCheck">Free Check</label>
          <input type="number" class="form-control" name="freeCheck" id="field_freeCheck" data-cy="freeCheck" formControlName="freeCheck" />
          @if (freeCheckRef.invalid && (freeCheckRef.dirty || freeCheckRef.touched)) {
            <div>
              @if (editForm.get('freeCheck')?.errors?.min) {
                <small class="form-text text-danger">This field should be at least 0.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('freeCheck')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_hallMarkedText">Hall Marked Text</label>
          <input
            type="text"
            class="form-control"
            name="hallMarkedText"
            id="field_hallMarkedText"
            data-cy="hallMarkedText"
            formControlName="hallMarkedText"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_weightOfFreeCheck">Weight Of Free Check</label>
          <input
            type="text"
            class="form-control"
            name="weightOfFreeCheck"
            id="field_weightOfFreeCheck"
            data-cy="weightOfFreeCheck"
            formControlName="weightOfFreeCheck"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_voucher">Voucher</label>
          <select
            class="form-control"
            id="field_voucher"
            data-cy="voucher"
            name="voucher"
            formControlName="voucher"
            [compareWith]="compareVoucher"
          >
            <option [ngValue]="null"></option>
            @for (voucherOption of vouchersSharedCollection; track $index) {
              <option [ngValue]="voucherOption">{{ voucherOption.voucherNo }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
