<div class="row">
    <mat-card class="col-md-12">
        <form class="">
            <mat-form-field class="col-md-3">
                <input type="text" matInput placeholder="Search voucher" [(ngModel)]="voucherFieldValue"
                    [ngModelOptions]="{standalone: true}" maxlength="11" (keypress)="numberOnly($event)">
                <!-- <input type="text" matInput placeholder="Search voucher" [(ngModel)]="voucherFieldValue"
                    [ngModelOptions]="{standalone: true}" maxlength="11" (keypress)="numberOnly($event)"> -->
            </mat-form-field>
            <button type="button" class="btn btn-primary" (click)="searchVoucherViewer()">Search</button>
            <jhi-alert></jhi-alert>
        </form>
    </mat-card>
</div>

<div class="row" style="margin-top: 15px;"
    *ngIf="voucherViewer && voucherViewer.voucherInfo && voucherViewer.voucherInfo.id">
    <mat-card class="col-md-12">
        <mat-card-title>Payment Information</mat-card-title>
        <div class="row">
            <div class="col-md-6">
                <table class=" table">
                    <tbody>
                        <tr>
                            <td>Total Amount</td>
                            <td>{{voucherViewer?.totalAmount}}</td>
                        </tr>
                        <tr>
                            <td>Due Amount</td>
                            <td>{{voucherViewer?.dueAmount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <form [formGroup]="transactionHistoryForm" class="col-md-6" style="margin-top: 5px;;">
                <mat-form-field class="col-md-6" *ngIf="voucherViewer.dueAmount > 0">
                    <input type="number" matInput placeholder="Amount" formControlName="amount">
                </mat-form-field>
                <button type="button" class="btn btn-primary"
                    (click)="confirmMakePayment(confirmPaymentDialog, confirmPaymentWithDeliveryDialog)"
                    *ngIf="voucherViewer.dueAmount > 0">Make Payment</button>

                <button type="button" class="btn btn-primary" (click)="confirmDelivery(confirmDeliveryDialog)"
                    style="margin-top: 5px;"
                    *ngIf="voucherViewer.dueAmount === 0 && !voucherViewer.voucherInfo.deliveryStatus">Make
                    Delivery</button>
            </form>

        </div>
    </mat-card>
</div>

<div class="row" style="margin-top: 15px;"
    *ngIf="voucherViewer && voucherViewer.voucherInfo && voucherViewer.voucherInfo.id">
    <mat-card class="col-md-12">
        <mat-card-title>Voucher Information</mat-card-title>

        <table class="table table-bordered">
            <thead></thead>
            <tbody>
                <tr>
                    <td>Customer Name</td>
                    <td>{{customerName}}</td>
                    <td>Transaction Status</td>
                    <td>{{voucherViewer?.voucherInfo?.status}}</td>
                </tr>
                <tr>
                    <td>Voucher Number</td>
                    <td>{{voucherViewer?.voucherInfo?.voucherNo}}</td>
                    <td>Delivery Status</td>
                    <td>{{voucherViewer?.voucherInfo?.deliveryStatus ? 'Delivered' : 'Not Delivered'}}</td>
                </tr>
                <tr>
                    <td>Calculated Total Amount</td>
                    <td>{{voucherViewer?.voucherInfo?.calculatedTotalAmount}}</td>
                    <td>Delivery Date</td>
                    <td>{{voucherViewer?.voucherInfo?.deliveryDate}}</td>
                </tr>
                <tr>
                    <td>Disount Amount</td>
                    <td>{{voucherViewer?.voucherInfo?.disountAmount}}</td>
                    <td>Vat</td>
                    <td>{{voucherViewer?.voucherInfo?.vat}}</td>
                </tr>
                <tr>
                    <td>boxNumber</td>
                    <td>{{voucherViewer?.voucherInfo?.boxNumber}}</td>
                    <td>Total Payable Amount</td>
                    <td>{{voucherViewer?.voucherInfo?.totalPayableAmount}}</td>
                </tr>
            </tbody>
        </table>

        <hr *ngIf="aurumServices && aurumServices?.length !== 0">
        <mat-card-title style="margin-top: 15px;" *ngIf="aurumServices && aurumServices?.length !== 0">
            Services
        </mat-card-title>
        <table class="table table-bordered" *ngIf="aurumServices && aurumServices?.length !== 0">
            <thead>
                <tr>
                    <th>Service Type</th>
                    <th>Item Name</th>
                    <th>Weight(Gram)</th>
                    <th>Free Check</th>
                    <th>Hall Marked Text</th>
                    <th>Karat Type</th>
                    <th>Expected Karat Type</th>
                    <th>Added Alloy</th>
                    <th>Alloy Quantity</th>
                    <th>Service Charge</th>
                    <th>Rate</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let service of aurumServices">
                    <td>{{service.serviceType}}</td>
                    <td>{{service.itemName}}</td>
                    <td>{{service.weight}}</td>
                    <td>{{service.freeCheck}}</td>
                    <td>{{service.hallMarkedText}}</td>
                    <td>{{service.karatType}}</td>
                    <td>{{service.expectedKaratType ? service.expectedKaratType : 'N/A'}}</td>
                    <td>{{service.addedAlloy ? service.addedAlloy : 'N/A'}}</td>
                    <td>{{(service.alloyQuantity && service.alloyQuantity !== 0) ? service.alloyQuantity : 'N/A'}}</td>
                    <td>{{service.serviceCharge}}</td>
                    <td>{{service.rate}}</td>
                    <td>{{service.quantity}}</td>
                    <td>{{service.amount}}</td>
                </tr>
            </tbody>
        </table>

        <hr *ngIf="voucherViewer.txnHistory.length !== 0">
        <mat-card-title style="margin-top: 15px;" *ngIf="voucherViewer.txnHistory.length !== 0">
            Transaction History
        </mat-card-title>
        <table class="table table-bordered" *ngIf="voucherViewer.txnHistory.length !== 0">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Tag</th>
                    <th>Payment Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let txn of voucherViewer.txnHistory">
                    <td>{{txn.amount}}</td>
                    <td>{{txn.tag}}</td>
                    <td>{{txn.dateCreated | date:'medium'}}</td>
                </tr>
            </tbody>
        </table>
    </mat-card>
</div>


<ng-template #confirmPaymentDialog let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirm Delivery</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Are you sure you want to make payment?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark"
            (click)="makePayment(false, false); modal.close()">Yes</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Cancel</button>
    </div>
</ng-template>

<ng-template #confirmPaymentWithDeliveryDialog let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirm Delivery</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Is Delivery Done?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="makePayment(true, true); modal.close()">Yes! Make
            Payment</button>
        <button type="button" class="btn btn-outline-dark" (click)="makePayment(false, true); modal.close()">No! Make
            Payment</button>
    </div>
</ng-template>

<ng-template #confirmDeliveryDialog let-deliveryModal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirm Delivery</h4>
        <button type="button" class="close" aria-label="Close" (click)="deliveryModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Are you sure you want to complete this delivery?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="makeDelivery(); deliveryModal.close()">Yes</button>
        <button type="button" class="btn btn-outline-dark" (click)="deliveryModal.close()">Cancel</button>
    </div>
</ng-template>