<div>
  <h2 id="page-heading" data-cy="AurumServiceHeading">
    <span>Aurum Services</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-aurum-service"
        [routerLink]="['/aurum-service/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Aurum Service</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (aurumServices().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Aurum Services found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="serviceType">
              <div class="d-flex">
                <span>Service Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="itemName">
              <div class="d-flex">
                <span>Item Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="quantity">
              <div class="d-flex">
                <span>Quantity</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="weight">
              <div class="d-flex">
                <span>Weight</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="rate">
              <div class="d-flex">
                <span>Rate</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="amount">
              <div class="d-flex">
                <span>Amount</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="serviceName">
              <div class="d-flex">
                <span>Service Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="karatType">
              <div class="d-flex">
                <span>Karat Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="expectedKaratType">
              <div class="d-flex">
                <span>Expected Karat Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="addedAlloy">
              <div class="d-flex">
                <span>Added Alloy</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="alloyQuantity">
              <div class="d-flex">
                <span>Alloy Quantity</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="serviceCharge">
              <div class="d-flex">
                <span>Service Charge</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="freeCheck">
              <div class="d-flex">
                <span>Free Check</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="hallMarkedText">
              <div class="d-flex">
                <span>Hall Marked Text</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="weightOfFreeCheck">
              <div class="d-flex">
                <span>Weight Of Free Check</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="voucher.voucherNo">
              <div class="d-flex">
                <span>Voucher</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (aurumService of aurumServices(); track trackId(aurumService)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/aurum-service', aurumService.id, 'view']">{{ aurumService.id }}</a>
              </td>
              <td>{{ aurumService.serviceType }}</td>
              <td>{{ aurumService.itemName }}</td>
              <td>{{ aurumService.quantity }}</td>
              <td>{{ aurumService.weight }}</td>
              <td>{{ aurumService.rate }}</td>
              <td>{{ aurumService.amount }}</td>
              <td>{{ aurumService.serviceName }}</td>
              <td>{{ aurumService.karatType }}</td>
              <td>{{ aurumService.expectedKaratType }}</td>
              <td>{{ { null: '', AU: 'AU', SI: 'SI', CU: 'CU' }[aurumService.addedAlloy ?? 'null'] }}</td>
              <td>{{ aurumService.alloyQuantity }}</td>
              <td>{{ aurumService.serviceCharge }}</td>
              <td>{{ aurumService.freeCheck }}</td>
              <td>{{ aurumService.hallMarkedText }}</td>
              <td>{{ aurumService.weightOfFreeCheck }}</td>
              <td>
                @if (aurumService.voucher) {
                  <div>
                    <a [routerLink]="['/voucher', aurumService.voucher.id, 'view']">{{ aurumService.voucher.voucherNo }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/aurum-service', aurumService.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a [routerLink]="['/aurum-service', aurumService.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(aurumService)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (aurumServices().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
