<div class="container"
    style="margin-top: 100px; font-size: 18px; font-family: 'Times New Roman', Times, serif; font-weight: 500;">
    <div class="row">
        <div class="col-md-12">
            <h3 style="text-align: center; text-decoration: underline;">{{invoiceTitle}} Invoice</h3>
            <button type="button" style="margin-top: -45px;" class="btn btn-primary float-right no-print"
                (click)="printPage()">Print</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td>Box Number:</td>
                        <td>{{voucher?.boxNumber}}</td>
                    </tr>
                    <tr>
                        <td>Voucher Number:</td>
                        <td>{{voucher?.voucherNo}}</td>
                    </tr>
                    <tr>
                        <td>Name & ID:</td>
                        <td>{{customer?.firstName + ' ' + customer?.lastName}}
                            (<span style="font-weight: bold;">ID: {{customer?.id}}</span>)</td>
                    </tr>
                    <tr>
                        <td>Contact Number:</td>
                        <td>{{ customer?.phone }}</td>
                    </tr>
                    <tr>
                        <td>Address:</td>
                        <td>{{ customer?.address }}</td>
                    </tr>
                    <tr>
                        <td>Reference:</td>
                        <td>{{ customer?.reference }}</td>
                    </tr>
                    <tr>
                        <td>Receive Time:</td>
                        <td>{{ printDate | date:'medium'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6" style="float: right; position: absolute; right: 0;">
            <table class="table table-borderd">
                <tbody>
                    <tr>
                        <td>Calculated Amount</td>
                        <td>{{voucher?.calculatedTotalAmount | currency: ' '}}</td>
                    </tr>
                    <tr>
                        <td>VAT Amount</td>
                        <td>{{voucher?.vat | currency: ' '}}</td>
                    </tr>
                    <tr>
                        <td>Discount</td>
                        <td>{{voucher?.disountAmount | currency: ' '}}</td>
                    </tr>
                    <tr>
                        <td>Total Payable</td>
                        <td>{{voucher?.totalPayableAmount | currency: ' '}}</td>
                    </tr>
                    <tr>
                        <td>Paid Amount</td>
                        <td>{{paidAmount | currency: ' '}}</td>
                    </tr>
                    <tr>
                        <td>Due</td>
                        <td>{{(voucher?.totalPayableAmount - paidAmount) | currency: ' '}}</td>
                    </tr>
                    <tr>
                        <td>Delivery Time:</td>
                        <td>{{ voucher?.deliveryDate | date:'medium'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" style="padding-top: 5px;">
        <div class="col-md-12">
            <!-- <h4 style="text-decoration: underline; font-weight: bold;">Service Information:</h4> -->
            <table class="table" *ngFor="let serviceMap of serviceTypeToServiceListMap | keyvalue">
                <thead class="borderStyle">
                    <tr class="borderStyle">
                        <th colspan="9" class="borderStyle"
                            style="text-decoration: underline; font-weight: bold; text-align: left;">
                            Service Information:</th>
                    </tr>
                    <tr class="borderStyle">
                        <th class="borderStyle">#</th>
                        <th class="borderStyle" *ngIf="serviceMap.key !== 'Calculated Melting'">Item Name
                        </th>
                        <th class="borderStyle" *ngIf="serviceMap.key !== 'Hallmark'">Weight(Gram)</th>
                        <th class="borderStyle" *ngIf="serviceMap.key === 'X-Ray'">Free Check</th>
                        <th class="borderStyle" *ngIf="serviceMap.key === 'Hallmark'">Hall Marked Text</th>
                        <th class="borderStyle"
                            *ngIf="serviceMap.key === 'Hallmark' || serviceMap.key === 'Calculated Melting'">Karat Type
                        </th>
                        <th class="borderStyle" *ngIf="serviceMap.key === 'Calculated Melting'">Expected
                            Karat Type</th>
                        <th class="borderStyle" *ngIf="serviceMap.key === 'Calculated Melting'">Added Alloy
                        </th>
                        <th class="borderStyle" *ngIf="serviceMap.key === 'Calculated Melting'">Alloy
                            Quantity</th>
                        <th class="borderStyle">Rate</th>
                        <th class="borderStyle">Quantity</th>
                        <th class="borderStyle">Amount</th>
                    </tr>
                </thead>
                <tbody class="borderStyle">
                    <tr *ngFor="let service of serviceMap.value; let i = index" class="borderStyle">
                        <td class="borderStyle">{{i + 1}}</td>
                        <td class="borderStyle" *ngIf="service.serviceType !== 'Calculated Melting'">
                            {{service.itemName}}</td>
                        <td class="borderStyle" *ngIf="service.serviceType !== 'Hallmark'">{{service.weight}}</td>
                        <td class="borderStyle" *ngIf="service.serviceType === 'X-Ray'">{{service.freeCheck}}</td>
                        <td class="borderStyle" *ngIf="service.serviceType === 'Hallmark'">{{service.hallMarkedText}}
                        </td>
                        <td class="borderStyle"
                            *ngIf="serviceMap.key === 'Hallmark' || serviceMap.key === 'Calculated Melting'">
                            {{service.karatType}}</td>
                        <td class="borderStyle" *ngIf="service.serviceType === 'Calculated Melting'">
                            {{service.expectedKaratType ? service.expectedKaratType : 'N/A'}}</td>
                        <td class="borderStyle" *ngIf="service.serviceType === 'Calculated Melting'">
                            {{service.addedAlloy ? service.addedAlloy : 'N/A'}}</td>
                        <td class="borderStyle" *ngIf="service.serviceType === 'Calculated Melting'">
                            {{(service.alloyQuantity && service.alloyQuantity !== 0) ? service.alloyQuantity : 'N/A'}}
                        </td>
                        <td class="borderStyle">{{service.rate | currency: ' '}}</td>
                        <td class="borderStyle">{{service.quantity}}</td>
                        <td class="borderStyle">{{service.amount | currency: ' '}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table borderStyle">
                <tbody class="borderStyle">
                    <tr class="borderStyle">
                        <th class="borderStyle">Checked By</th>
                        <th class="borderStyle">X-Ray By</th>
                        <th class="borderStyle">Marked By</th>
                        <th class="borderStyle">Melting By</th>
                        <th class="borderStyle">Delivery By</th>
                    </tr>
                    <tr class="borderStyle">
                        <td class="borderStyle" style="height: 40px; width: 20%;"></td>
                        <td class="borderStyle" style="height: 40px; width: 20%;"></td>
                        <td class="borderStyle" style="height: 40px; width: 20%;"></td>
                        <td class="borderStyle" style="height: 40px; width: 20%;"></td>
                        <td class="borderStyle" style="height: 40px; width: 20%;"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row" style="margin-top: 110px; width: 100%;">
        <div class="col-md-6">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td> </td>
                        <td style="font-weight: bold; text-align: center; border-top: 1px solid black;">
                            Authorized Signature</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td> </td>
                        <td style="font-weight: bold; text-align: center; border-top: 1px solid black;">Customer
                            Signature</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row" *ngIf="showXrayNote || showMeltingNote" style="margin-top: 10px; width: 100%;">
        <div class="col-md-12">
            <h4>Note</h4>
            <ul>
                <li *ngIf="showXrayNote || showMeltingNote">X-ray result maximum difference ± 0.30%</li>
                <!-- <li *ngIf="showXrayNote">Spot and screen test result.</li> -->
                <li *ngIf="showMeltingNote">Copper and Silver haven't used. Gold Purity is not tasted by Maitres Gold,
                    so Maitree is not
                    responsible for this purity. Maitree Gold is not responsible for any lost/stolen gold or gold
                    ornaments.</li>
            </ul>
        </div>
    </div>

</div>