<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 style="text-align: center; text-decoration: underline;">{{invoiceTitle}} Invoice</h3>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-4 col-md-4">
            <table class="table table-borderless">
                <thead></thead>
                <tbody>
                    <tr>
                        <td>Box Number</td>
                        <td>{{voucher?.boxNumber}}</td>
                    </tr>
                    <tr>
                        <td>Voucher Number</td>
                        <td>{{voucher?.voucherNo}}</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>{{customer?.firstName + ' ' + customer?.lastName}}</td>
                    </tr>
                    <tr>
                        <td>Phone Number</td>
                        <td>{{ customer?.phone }}</td>
                    </tr>
                    <tr>
                        <td>Delivery Datetime</td>
                        <td>{{ voucher.deliveryDate | date:'medium'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-6 col-md-6" style="float: right;position:absolute;right:0;">
            <table class="table table-borderd">
                <thead></thead>
                <tbody>
                    <tr>
                        <td>Calculated Amount</td>
                        <td>{{voucher?.calculatedTotalAmount}}</td>
                    </tr>
                    <tr>
                        <td>VAT Amount</td>
                        <td>{{voucher?.vat}}</td>
                    </tr>
                    <tr>
                        <td>Discount</td>
                        <td>{{voucher?.disountAmount}}</td>
                    </tr>
                    <tr>
                        <td>Total Payable</td>
                        <td>{{voucher?.totalPayableAmount}}</td>
                    </tr>
                    <tr>
                        <td>Paid Amount</td>
                        <td>{{paidAmount}}</td>
                    </tr>
                    <tr>
                        <td>Due</td>
                        <td>{{voucher?.totalPayableAmount - paidAmount}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br><br>
    <div class="row" style="padding-top: 10px;">
        <div class="col-xs-12">
            <table class="table table-borderless col-md-12" *ngFor="let serviceType of distinctServiceType">
                <thead>
                    <tr>
                        <th colspan="9" style="text-decoration: underline; font-weight: bold;">Service
                            Information
                        </th>
                    </tr>
                    <tr>
                        <th>Service Type</th>
                        <th *ngIf="serviceType !== 'Calculated Melting'">Item Name</th>
                        <th *ngIf="serviceType !== 'Hallmark'">Weight(Gram)</th>
                        <th *ngIf="serviceType === 'X-Ray'">Free Check</th>
                        <th *ngIf="serviceType === 'Hallmark'">Hall Marked Text</th>
                        <th *ngIf="serviceType !== 'X-Ray'">Karat Type</th>
                        <th *ngIf="serviceType === 'Calculated Melting'">Expected Karat Type</th>
                        <th *ngIf="serviceType === 'Calculated Melting'">Added Alloy</th>
                        <th *ngIf="serviceType === 'Calculated Melting'">Alloy Quantity</th>
                        <th>Service Charge</th>
                        <th>Rate</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let service of aurumServices">
                        <td>{{service.serviceType}}</td>
                        <td *ngIf="service.serviceType !== 'Calculated Melting'">{{service.itemName}}</td>
                        <td *ngIf="service.serviceType !== 'Hallmark'">{{service.weight}}</td>
                        <td *ngIf="service.serviceType === 'X-Ray'">{{service.freeCheck}}</td>
                        <td *ngIf="service.serviceType === 'Hallmark'">{{service.hallMarkedText}}</td>
                        <td *ngIf="service.serviceType !== 'X-Ray'">{{service.karatType}}</td>
                        <td *ngIf="service.serviceType === 'Calculated Melting'">
                            {{service.expectedKaratType ? service.expectedKaratType : 'N/A'}}</td>
                        <td *ngIf="service.serviceType === 'Calculated Melting'">
                            {{service.addedAlloy ? service.addedAlloy : 'N/A'}}</td>
                        <td *ngIf="service.serviceType === 'Calculated Melting'">
                            {{(service.alloyQuantity && service.alloyQuantity !== 0) ? service.alloyQuantity : 'N/A'}}
                        </td>
                        <td>{{service.serviceCharge}}</td>
                        <td>{{service.rate}}</td>
                        <td>{{service.quantity}}</td>
                        <td>{{service.amount}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row" style="margin-top: 50px; width: 100%;">
        <div class="col-md-6">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td> </td>
                        <td style="font-weight: bold; text-align: center; border-top: 1px solid black;">
                            Authorized Signature</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td> </td>
                        <td style="font-weight: bold; text-align: center; border-top: 1px solid black;">Customer
                            Signature</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>