<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-voucher-heading" data-cy="VoucherCreateUpdateHeading">Create or edit a Voucher</h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_voucherNo">Voucher No</label>
          <input type="text" class="form-control" name="voucherNo" id="field_voucherNo" data-cy="voucherNo" formControlName="voucherNo" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_customerId">Customer Id</label>
          <input
            type="number"
            class="form-control"
            name="customerId"
            id="field_customerId"
            data-cy="customerId"
            formControlName="customerId"
          />
        </div>

        @let calculatedTotalAmountRef = editForm.get('calculatedTotalAmount')!;
        <div class="mb-3">
          <label class="form-label" for="field_calculatedTotalAmount">Calculated Total Amount</label>
          <input
            type="number"
            class="form-control"
            name="calculatedTotalAmount"
            id="field_calculatedTotalAmount"
            data-cy="calculatedTotalAmount"
            formControlName="calculatedTotalAmount"
          />
          @if (calculatedTotalAmountRef.invalid && (calculatedTotalAmountRef.dirty || calculatedTotalAmountRef.touched)) {
            <div>
              @if (editForm.get('calculatedTotalAmount')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('calculatedTotalAmount')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_vat">Vat</label>
          <input type="number" class="form-control" name="vat" id="field_vat" data-cy="vat" formControlName="vat" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_disountAmount">Disount Amount</label>
          <input
            type="number"
            class="form-control"
            name="disountAmount"
            id="field_disountAmount"
            data-cy="disountAmount"
            formControlName="disountAmount"
          />
        </div>

        @let statusRef = editForm.get('status')!;
        <div class="mb-3">
          <label class="form-label" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null"></option>
            @for (voucherStatus of voucherStatusValues; track $index) {
              <option [value]="voucherStatus">{{ { null: '', PAID: 'PAID', DUE: 'DUE', CANCEL: 'CANCEL' }[voucherStatus] }}</option>
            }
          </select>
          @if (statusRef.invalid && (statusRef.dirty || statusRef.touched)) {
            <div>
              @if (editForm.get('status')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        @let totalPayableAmountRef = editForm.get('totalPayableAmount')!;
        <div class="mb-3">
          <label class="form-label" for="field_totalPayableAmount">Total Payable Amount</label>
          <input
            type="number"
            class="form-control"
            name="totalPayableAmount"
            id="field_totalPayableAmount"
            data-cy="totalPayableAmount"
            formControlName="totalPayableAmount"
          />
          @if (totalPayableAmountRef.invalid && (totalPayableAmountRef.dirty || totalPayableAmountRef.touched)) {
            <div>
              @if (editForm.get('totalPayableAmount')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('totalPayableAmount')?.errors?.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dateCreated">Date Created</label>
          <div class="d-flex">
            <input
              id="field_dateCreated"
              data-cy="dateCreated"
              type="datetime-local"
              class="form-control"
              name="dateCreated"
              formControlName="dateCreated"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        @let addedByRef = editForm.get('addedBy')!;
        <div class="mb-3">
          <label class="form-label" for="field_addedBy">Added By</label>
          <input type="text" class="form-control" name="addedBy" id="field_addedBy" data-cy="addedBy" formControlName="addedBy" />
          @if (addedByRef.invalid && (addedByRef.dirty || addedByRef.touched)) {
            <div>
              @if (editForm.get('addedBy')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_boxNumber">Box Number</label>
          <input type="text" class="form-control" name="boxNumber" id="field_boxNumber" data-cy="boxNumber" formControlName="boxNumber" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_deliveryDate">Delivery Date</label>
          <div class="d-flex">
            <input
              id="field_deliveryDate"
              data-cy="deliveryDate"
              type="datetime-local"
              class="form-control"
              name="deliveryDate"
              formControlName="deliveryDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_deliveryStatus">Delivery Status</label>
          <input
            type="checkbox"
            class="form-check"
            name="deliveryStatus"
            id="field_deliveryStatus"
            data-cy="deliveryStatus"
            formControlName="deliveryStatus"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
