<!-- <p>Customer form dialog show</p> -->

<!-- <form name="deleteForm" (ngSubmit)="confirmDelete(customer.id)">
    <div class="modal-header">
        <h4 class="modal-title">Create Customer</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p id="jhi-delete-customer-heading">Customer Form</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
        </button>
        <button id="jhi-confirm-delete-customer" type="submit" class="btn btn-danger">
            <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span>Save</span>
        </button>
    </div>
</form> -->
<mat-card style="margin-left: 5px;">
    <mat-card-title>Create Customer</mat-card-title>
    <form [formGroup]="customerForm" class="row">
        <mat-form-field class="col-md-6">
            <input matInput placeholder="First Name" formControlName="firstName">
        </mat-form-field>
        <mat-form-field class="col-md-6">
            <input matInput placeholder="Last Name" formControlName="lastName">
        </mat-form-field>
        <mat-form-field class="col-md-6">
            <input type="number" matInput placeholder="Phone" formControlName="phone" maxlength="11">
        </mat-form-field>
        <mat-form-field class="col-md-6">
            <input type="email" matInput placeholder="Email" formControlName="email">
        </mat-form-field>
        <mat-form-field class="col-md-6">
            <input matInput placeholder="Address" formControlName="address">
        </mat-form-field>
    </form>
    <div>
        <button type="button" class="btn btn-primary float-right" style="margin-left: 2px;"
            (click)="saveCustomer()">Save
        </button>
        <button type="button" class="btn btn-primary float-right" (click)="clear()">Cancel</button>
    </div>
    <div class="clearfix"></div>
</mat-card>