@if (aurumService) {
  <form name="deleteForm" class="seal-break" (ngSubmit)="confirmDelete(aurumService.id!)">
    <div class="modal-header seal-break__header">
      <h4 class="modal-title" data-cy="aurumServiceDeleteDialogHeading">Confirm delete operation</h4>
    </div>

    <div class="modal-body seal-break__body">
      <jhi-alert-error />

      <div class="seal-break__subject">
        <div class="seal seal--lg seal-break__seal" aria-hidden="true">
          {{ (aurumService.serviceType || aurumService.itemName || '?').charAt(0) | uppercase }}
        </div>
        <div>
          <p class="seal-break__name" id="jhi-delete-aurumService-heading">
            {{ aurumService.serviceType || aurumService.itemName || 'Aurum Service ' + aurumService.id }}
          </p>
          <p class="seal-break__id">Aurum Service No. {{ aurumService.id }}</p>
        </div>
      </div>

      <p class="seal-break__warning">This service record will be permanently removed. This action cannot be undone.</p>
    </div>

    <div class="modal-footer seal-break__footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
      </button>

      <button id="jhi-confirm-delete-aurumService" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span>Delete</span>
      </button>
    </div>
  </form>
}
