<div class="customer-list">
  <div class="customer-list__head" id="page-heading" data-cy="CustomerHeading">
    <div>
      <h2 class="customer-list__title">Customers</h2>
      <p class="customer-list__subtitle">Search, browse and manage your customers</p>
    </div>

    <div class="customer-list__actions">
      <button class="btn btn-outline-secondary" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-customer"
        [routerLink]="['/customer/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>New Customer</span>
      </button>
    </div>
  </div>

  <jhi-alert-error />

  <jhi-alert />

  <form class="customer-search" (ngSubmit)="search()" novalidate>
    <div class="customer-search__fields">
      <div class="customer-search__field">
        <label for="search-firstName">First name</label>
        <input id="search-firstName" name="firstName" type="text" class="form-control" [(ngModel)]="searchCriteria.firstName" />
      </div>
      <div class="customer-search__field">
        <label for="search-lastName">Last name</label>
        <input id="search-lastName" name="lastName" type="text" class="form-control" [(ngModel)]="searchCriteria.lastName" />
      </div>
      <div class="customer-search__field">
        <label for="search-phone">Phone</label>
        <input id="search-phone" name="phone" type="text" class="form-control" [(ngModel)]="searchCriteria.phone" />
      </div>
      <div class="customer-search__field">
        <label for="search-reference">Reference</label>
        <input id="search-reference" name="reference" type="text" class="form-control" [(ngModel)]="searchCriteria.reference" />
      </div>
      <div class="customer-search__field">
        <label for="search-customId">Custom Id</label>
        <input id="search-customId" name="customId" type="text" class="form-control" [(ngModel)]="searchCriteria.customId" />
      </div>
    </div>

    <div class="customer-search__buttons">
      <button type="submit" class="btn btn-primary" [disabled]="isLoading" data-cy="customerSearchButton">
        <fa-icon icon="search"></fa-icon>
        <span>Search</span>
      </button>
      <button type="button" class="btn btn-outline-secondary" (click)="clearSearch()" [disabled]="!hasActiveSearch()">
        <span>Clear</span>
      </button>
    </div>
  </form>

  @if (customers().length === 0) {
    <div class="customer-list__empty" id="no-result">
      <fa-icon icon="users" class="customer-list__empty-icon"></fa-icon>
      <span>No customers found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities customer-list__table" id="entities">
      <table class="table" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="firstName">
              <div class="d-flex">
                <span>First Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastName">
              <div class="d-flex">
                <span>Last Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="phone">
              <div class="d-flex">
                <span>Phone</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="email">
              <div class="d-flex">
                <span>Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="address">
              <div class="d-flex">
                <span>Address</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="totalPoint">
              <div class="d-flex">
                <span>Total Point</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="reference">
              <div class="d-flex">
                <span>Reference</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="customId">
              <div class="d-flex">
                <span>Custom Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (customer of customers(); track trackId(customer)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/customer', customer.id, 'view']">{{ customer.id }}</a>
              </td>
              <td>{{ customer.firstName }}</td>
              <td>{{ customer.lastName }}</td>
              <td>{{ customer.phone }}</td>
              <td>{{ customer.email }}</td>
              <td>{{ customer.address }}</td>
              <td>{{ customer.totalPoint }}</td>
              <td>{{ customer.reference }}</td>
              <td>{{ customer.customId }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/customer', customer.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a [routerLink]="['/customer', customer.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(customer)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (customers().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
