<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (aurumService(); as aurumServiceRef) {
      <div>
        <h2 data-cy="aurumServiceDetailsHeading"><span>Aurum Service</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ aurumServiceRef.id }}</span>
          </dd>
          <dt><span>Service Type</span></dt>
          <dd>
            <span>{{ aurumServiceRef.serviceType }}</span>
          </dd>
          <dt><span>Item Name</span></dt>
          <dd>
            <span>{{ aurumServiceRef.itemName }}</span>
          </dd>
          <dt><span>Quantity</span></dt>
          <dd>
            <span>{{ aurumServiceRef.quantity }}</span>
          </dd>
          <dt><span>Weight</span></dt>
          <dd>
            <span>{{ aurumServiceRef.weight }}</span>
          </dd>
          <dt><span>Rate</span></dt>
          <dd>
            <span>{{ aurumServiceRef.rate }}</span>
          </dd>
          <dt><span>Amount</span></dt>
          <dd>
            <span>{{ aurumServiceRef.amount }}</span>
          </dd>
          <dt><span>Service Name</span></dt>
          <dd>
            <span>{{ aurumServiceRef.serviceName }}</span>
          </dd>
          <dt><span>Karat Type</span></dt>
          <dd>
            <span>{{ aurumServiceRef.karatType }}</span>
          </dd>
          <dt><span>Expected Karat Type</span></dt>
          <dd>
            <span>{{ aurumServiceRef.expectedKaratType }}</span>
          </dd>
          <dt><span>Added Alloy</span></dt>
          <dd>
            <span>{{ { null: '', AU: 'AU', SI: 'SI', CU: 'CU' }[aurumServiceRef.addedAlloy ?? 'null'] }}</span>
          </dd>
          <dt><span>Alloy Quantity</span></dt>
          <dd>
            <span>{{ aurumServiceRef.alloyQuantity }}</span>
          </dd>
          <dt><span>Service Charge</span></dt>
          <dd>
            <span>{{ aurumServiceRef.serviceCharge }}</span>
          </dd>
          <dt><span>Free Check</span></dt>
          <dd>
            <span>{{ aurumServiceRef.freeCheck }}</span>
          </dd>
          <dt><span>Hall Marked Text</span></dt>
          <dd>
            <span>{{ aurumServiceRef.hallMarkedText }}</span>
          </dd>
          <dt><span>Weight Of Free Check</span></dt>
          <dd>
            <span>{{ aurumServiceRef.weightOfFreeCheck }}</span>
          </dd>
          <dt><span>Voucher</span></dt>
          <dd>
            @if (aurumService()!.voucher) {
              <div>
                <a [routerLink]="['/voucher', aurumService()!.voucher?.id, 'view']">{{ aurumServiceRef.voucher?.voucherNo }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/aurum-service', aurumServiceRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
